# Byte-compiled / optimized / DLL files

.vscode/
data/
.venv/
src/LinkNodeCommunity/__pycache__/
src/LinkNodeCommunity/core/__pycache__/
.github/
build/
pycache/

*.so
*.pyd
*.dylib
*.dll
*.o
*.a
*.lib