# Byte-compiled / optimized / DLL files

**/nocs_old.py

.vscode/
data/
.venv/
.smoke/
**/__pycache__/
.github/
build/
build_/
dist/
**/.DS_Store

pycache/
pytest_cache/
.pytest_cache/
mypy_cache/
ruff_cache/
tox/

*.egg-info/
*.so
*.pyd
*.dylib
*.dll
*.o
*.a
*.lib

cpp/**/build/
cpp/**/CMakeFiles/
cpp/**/CMakeCache.txt
cpp/**/cmake-build-*/
*.ninja
.ninja_*
.DS_Store

**.pdf

**/WikiVote.ipynb